h1 {
    margin: 0 0 100px 0;
    background-color: #ff0;
}

.first {
    background: #f7f7f7;
    padding: 100px 0;
    text-align: center;
}

.first .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    /* 박스끼리 공간, 아래쪽으로만 여백 사용 */
}

.first .inner figure .box {
    overflow: hidden;
}

.first .inner figure {
    flex: 1;

}

.first .inner figure img {
    max-width: 100%;
    transition: 0.5s;
}

.first .inner figure:hover img {
    transform: scale(1.2);
    /* 레이아웃을 변형시키지 않음 */
}

.first h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.first p {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 50px 0;
    color: #333;
}

.first .box {
    margin: 0 0 40px 0;
}

.first strong {
    display: block;
    margin: 0 0 35px 0;
    /*     padding: 100px 0;
    height: 100px 0;
    background: #ff0; */
    position: relative;
    font-weight: bold;
}

.first strong::before {
    content: "";
    display: block;
    width: 2px;
    height: 60px;
    background: #f00;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%, 0);
}

.first .desc {
    margin: 0 0 40px 0;
    line-height: 26px;
    padding: 0 50px;
    word-break: keep-all;
}

.first a {
    display: inline-block;
    border: 1px solid #f00;
    color: #f00;
    padding: 10px 20px;
}